body {
    background-image: url("~/../../assets/img/background.png");
}

main {
    padding: 20px 60px;
    font-family: "Roboto", sans-serif;
    margin-top: 15vh;
}
.cabecalho {
    background-color: var(--marrom-escuro);
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.alinhamento-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.img-perfil{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
}

.titulo-icone {
    font-size: 1.8em;
}

.logo {
    width: 50%;
}

.link-perfil {
    color: var(--branco);
    text-decoration: none;
    font-size: 1.8em;
}


/** CONTEUDO */

.textos-topo{
    display: flex;
    flex-direction: column;
}

.textos-topo h1{
    font-size: 2rem;
    font-weight: 700;
}

.textos-topo p{
    font-size: 1rem;
    font-weight: 400;
}

.alinhar-texto-topo{
    display: flex;
    justify-content: space-between;
}

.conteudo{
    margin-top: 3vh;
}

.separacao{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.esquerda{
    display: flex;
    flex-direction: column;
    width: 28vw;
    height: 85vh;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.card-livro button{
    cursor: pointer;
    border: none;
    background: none;

}

.img-card{
    width: 25vw;
    height: 75vh;
}

.direita{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 55vw;
}

.estado-leitura{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    height: 20vh;
    width: 55vw;
    border-radius: 30px;
    align-items: center;
}

input[type="radio"]{
    display: none;
}

.estado-label{
    color: var(--marrom-muito-escuro);
    font-size: 1rem;
    border-radius: 5px;
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.estados{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    width: 38vw;
    height: 6vh;
}

.estados input[type="radio"]:checked + .estado-label{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: black;
}

.avaliacao{
    background-color: white;
    height: 25vh;
    width: 55vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.titulo-avaliacao{
    display: flex;
    align-items: center;
    gap: 39vw;
}

.titulo-avaliacao label{
    font-size: 1.5rem;
    font-weight: 600;
}

.titulo-avaliacao p{
    font-size: 2rem;
    font-weight: 800;
}

.estrelas{
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
    height: 15vh;
    width: 52vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.estrelas label{
    color:  #ffe400;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-left: 20px;
}

.estrelas input + label{
    cursor: pointer;
}

.estrelas input:checked + label ~ label{
    color: #838383;
}

.estrelas label:active{
    transform: scale(0.8);
    transform: 0.3 ease;
}

.comentario{
    background-color: white;
    border-radius: 30px;
    height: 38vh;
    width: 55vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-comentario{
    display: flex;
    align-items: flex-start;
}

.titulo-comentario label{
    font-size: 1.5rem;
    font-weight: 600;
}

.comentario textarea{
    height: 30vh;
    width: 53vw;
    background-color: rgb(233, 233, 233);
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 30px;
    padding: 10px;
}

.comentario-alinhamento{
    display: flex;
    flex-direction: column;
}

.input-escondido2 
{
    display: none;
}
