:root 
{
    --bege: #E3D6C8;
    --vermelho: #d40000;
    --begeescuro: #B8A28B;
    --corfolhas: #cdb69d;
}

.modal 
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    background-color: var(--bege);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 6px;
}

.overlay 
{
    display: none;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.botao-fechar {
    background-color: #d40000; 
    border-radius: 6px;
    position: absolute;
    z-index: 1001; /* Garante que fique acima de TUDO no modal */
    top: 0;
    right: 0;
    margin: 5px;
    width: 30px; /* Defina um tamanho para garantir o clique */
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    color: white; /* Para o X aparecer */
}

.botao-fechar:hover
{
    background-color: #b00000;
}

.titulo-topo, .nome-texto, .adicao-texto
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topo 
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    z-index: 0;
    margin-bottom: 10px;
}

.titulo-topo 
{
    position: relative;
    z-index: 0;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--begeescuro);
    width: 155px;
    height: 35px;
    border-radius: 4px;
    font-weight: 500;
    font-size: medium;
}

.folha1, .folha2, .folha3, .folha4 
{
    width: 15%;
    height: auto;
    min-width: 50px;
    max-width: 90px;
    z-index: -1;
    position: absolute;
    pointer-events: none;
}

.folha1
{
    left: 0px;
    top: 0px;
}

.folha2 
{
    left: 15px;
    bottom: 25px;
}

.folha3 
{
    bottom: 10px;
    right: 20px;
    transform: rotate(45deg);
}

.folha4 
{
    right: 15px;
    top: 25px;
}

.nome-texto, .adicao-texto
{
    font-size: x-large;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 20px;
}

.nome-caixa, .adicao-caixa
{
    border-radius: 4px;
    border-width: 1px;
    width: 200px;
    padding: 5px;
    margin-left: 25px;
    display: flex; 
    flex-direction: column;
}

.livros
{
    width: 100%;
    height: 70%;
}

.nome
{
    position: relative;
}

.adicao-caixa
{
    top: 50px;
}