* 
{
    box-sizing: border-box;
}

body.no-scroll 
{
    overflow: hidden; 
}

html.no-scroll, body.no-scroll 
{
    overflow: hidden !important;
    height: 100% !important;
}

:root 
{
    --bege: #E3D6C8;
    --vermelho: #d40000;
    --begeescuro: #B8A28B;
    --corfolhas: #cdb69d;
}

.modal 
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 80%;
    background-color: var(--bege);
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 6px;
    overflow-y: hidden;
    box-sizing: border-box;
}

.overlay 
{
    display: none;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.botao-fechar {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    margin: 5px;
    width: 30px; 
    height: 30px;
    cursor: pointer;
    color: white; 
}

.botao-fechar:hover
{
    color: var(--marrom-muito-escuro);
    transition: 0.2s ease;
}

.nome-texto, .adicao-texto
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-livro 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex; 
}

.folha1, .folha2, .folha3, .folha4 
{
    width: 15%;
    height: auto;
    min-width: 50px;
    max-width: 90px;
    z-index: -1;
    position: absolute;
    pointer-events: none;
}

.folha1
{
    left: 0px;
    top: 0px;
}

.folha2 
{
    left: 15px;
    bottom: 25px;
}

.folha3 
{
    bottom: 10px;
    right: 20px;
    transform: rotate(45deg);
}

.folha4 
{
    right: 15px;
    top: 25px;
}

.nome-texto
{
    margin-top: 10px;
}

.nome-texto, .adicao-texto
{
    font-size: x-large;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 20px;
}

.nome-caixa, .adicao-caixa
{
    border-radius: 4px;
    border-width: 1px;
    margin-bottom: 5px;
    width: 200px;
    padding: 5px;
    background-color: var(--branco);
    border-radius: 10px;
    border: 2px solid var(--marrom-claro);
    font-weight: 700;
}

.adicao-caixa:hover {
    background-color: var(--marrom-claro);
    border-color: var(--marrom-escuro);
    transition: border-color .30s ease;
    cursor: pointer;
}


.topo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.livros
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

.nome
{
    position: relative;
}

.adicao-caixa
{
    top: 50px;
}

.livrinho-modal
{
    border: none;
    cursor: pointer;
    font-family: inherit; 
    font-size: 1rem;
    
    background-color: var(--begeescuro);
    border-radius: 4px;
    padding: 5px;
    width: 11.5vw;      
    height: 100%;     
    min-height: 40px;  
    border-radius: 10px;
   
    text-align: center;
    color: black;      
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livrinho-modal:hover
{
    background-color: #a38d77
}

@media (min-width: 1px) 
{
    ::-webkit-scrollbar 
    {
        width: 5px;
    }

    ::-webkit-scrollbar-track 
    {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb 
    {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover 
    {
        background: #555;
    }
}

@media (max-width: 800px) 
{
    ::-webkit-scrollbar 
    {
        width: 5px;
        height: 500px;
    }

    .overlay 
    {   
        display: none;
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .modal 
    {
        top: 0;
        left: 0;

        height: 100dvh;
        overflow: hidden;

        transform: none;
        width: 100%;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        box-sizing: border-box;
    }
    
    .topo, .nome, .adicao_manual, .botao-fechar 
    {
        flex-shrink: 0;
    }

    .livros 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
        margin-top: 20px;

        flex: 1;
        max-height: 1000px;
        height: 520px;      
        min-height: 0;       

        overflow-y: auto;
        align-content: start;
        padding-bottom: 50px; 

        white-space: normal;
    }

    .nome-caixa, .adicao-caixa
    {
        border-radius: 4px;
        border-width: 1px;
        width: 92%;
        padding: 5px;
        margin-left: 0px;
        display: flex; 
        flex-direction: column;
    }

    .nome-texto, .adicao-texto
    {
        font-size: x-large;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .topo 
    {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        z-index: 0;
    }

    .livrinho-modal
    {
        width: 85%;
        height: 60px;
        white-space: normal;
        border-radius: 10px;
    }

}